@import "tailwindcss";

    
*{

    box-sizing: border-box;
        transition: all 0.3s ease;

}
.global-spinner-overlay {
    position: fixed;
    inset: 0;                          /* top/right/bottom/left: 0 */
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    backdrop-filter: blur(2px);
  }
  .global-progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 3px !important;
  }
body{
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

input, select, textarea, button{
    font-family: inherit;
}
img{
    max-width: 100%;
    height: auto;
}
input{
    outline: none   ;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.active{
    width: 100%;
  }

.collapse{
   display: none;
 
  }

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}